// This is a list of colours used in bandsite:

$one-dark: #323232;
$one-dark-opaque: #3232327e;
$one-medium: #afafaf;
$one-light: #ffffff;

$two-dark: #000000;
$two-medium: #e1e1e1;
$two-light: #fafafa;
