@font-face {
  font-family: "AvenirN";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "AvenirNMedium";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face {
  font-family: "AvenirNBold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
