@use "./mixins";
@use "./variables";
@use "./colours";

body {
  @include mixins.margin-reset;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  @include mixins.margin-reset;
}

p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colours.$one-dark;
  font-family: "AvenirN";

  &__tabs {
    display: flex;
    width: 100%;
    justify-content: center;

    &--one {
      display: flex;
      width: 100%;
      justify-content: center;

      &--active {
        @include mixins.active-border;
      }

      &--innactive {
        &:hover {
          border-bottom: 0.25rem solid colours.$one-light;
        }
      }

      @include mixins.tablet-size {
        @include mixins.active-border;
        @include mixins.active-font;
        padding: 1rem 0;
        width: fit-content;
        margin: 0 2rem;
      }
    }
    &--two {
      display: flex;
      width: 100%;
      justify-content: center;

      &--active {
        @include mixins.active-border;
      }

      &--innactive {
        &:hover {
          border-bottom: 0.25rem solid colours.$one-light;
        }
      }
      @include mixins.tablet-size {
        @include mixins.innactive;
        padding: 1rem 0;
        width: fit-content;
        margin: 0rem 2rem;
      }
    }

    @include mixins.tablet-size {
      box-sizing: border-box;
      width: 30%;
      justify-content: flex-start;
    }
  }

  @include mixins.tablet-size {
    justify-content: flex-start;
  }

  &__element {
    display: flex;
    justify-content: center;
    @include mixins.mobile-normal-font;
    padding-bottom: 0.625rem;

    &--active {
      @include mixins.active-font;
    }
    &--innactive {
      @include mixins.innactive;
    }

    @include mixins.tablet-size {
      @include mixins.logo;
      padding-bottom: 0;
    }

    @include mixins.tablet-size {
      width: fit-content;
    }
  }

  &__header {
    @include mixins.logo;
    @include mixins.tablet-size {
      padding: 0.5rem 3.5rem;
    }
    @include mixins.desktop-size {
      padding: 0.5rem 5rem;
    }
  }

  @include mixins.tablet-size {
    flex-direction: row;
  }
}

// FOOTER SECTION

.footer {
  background-color: colours.$one-dark;
  color: colours.$one-light;
  @include mixins.main-container-mobile;
}

.footer-container {
  @include mixins.container-mobile;

  &__logo {
    @include mixins.logo;
    margin: 0;

    @include mixins.tablet-size {
      position: absolute;
      margin-left: 35vw;
      margin-bottom: 5%;
      margin-top: 3%;
    }
    @include mixins.desktop-size {
      margin-left: 35.5vw;
    }
  }

  &__copyright {
    @include mixins.mobile-elements-margin;
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";
    font-size: 0.75rem;
    margin: 1rem 0;
  }
  @include mixins.tablet-size {
    position: relative;
    margin-top: 2rem;
  }
  @include mixins.desktop-size {
    @include mixins.container-desktop;
    margin-top: 2rem;
  }
}

.header-social-logos {
  display: flex;
  flex-direction: column;

  @include mixins.tablet-size {
    flex-direction: row;
    width: 70%;
  }
}
.social-header {
  color: colours.$one-light;
  @include mixins.mobile-header-margin;
  @include mixins.mobile-tall-font;
  font-family: "AvenirNMedium";

  @include mixins.tablet-size {
    box-sizing: border-box;
    @include mixins.wide-elements-margin;
    @include mixins.tall-font;
    margin-right: 2.5rem;
    font-size: 1.5rem;
  }
  @include mixins.desktop-size {
    @include mixins.tall-font;
    width: auto;
  }
}
.social-logos {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;

  &__item {
    @include mixins.mobile-normal-font;
    margin-right: 2rem;
    margin-bottom: 1rem;

    @include mixins.tablet-size {
      box-sizing: border-box;
      height: 35%;
      margin-left: 1rem;
      font-size: 1.75rem;
    }
    @include mixins.desktop-size {
      margin-left: 1rem;
    }
  }

  @include mixins.tablet-size {
    width: 60%;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;

  @include mixins.tablet-size {
    flex-direction: row;
  }
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    @include mixins.mobile-elements-margin;
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";

    &--bold {
      font-family: "AvenirNMedium";
    }

    &--low {
      margin-bottom: 4rem;
    }

    @include mixins.tablet-size {
      @include mixins.normal-font;
      @include mixins.wide-elements-margin;
      line-height: 1.25rem;
      @include mixins.margin-fix-TD;
    }
    @include mixins.desktop-size {
      @include mixins.margin-fix-TD;
      margin-right: 5rem;
    }
  }
}

.mailto {
  @include mixins.mailto;
}
