@use "./variables";
@use "./colours";
@use "./fonts";

// For Mobile-----
// Used for page and section header
@mixin mobile-tall-font {
  font-size: variables.$size * 1.5;
  line-height: variables.$size * 2;
  font-weight: variables.$heavy;
}

// Used for subheader
@mixin mobile-medium-font {
  // font-size: variables.$size * 0.875;
  font-size: variables.$size * 1;
  line-height: variables.$size * 1.375;
  font-weight: variables.$medium;
}

// Used for body and footer
@mixin mobile-normal-font {
  // font-size: variables.$size * 0.8125;
  font-size: variables.$size * 0.875;
  line-height: variables.$size * 1.375;
  font-weight: variables.$normal;
}

// Used for labels and buttons
@mixin mobile-small-font {
  font-size: variables.$size * 0.625;
  line-height: variables.$size * 1.25;
  font-weight: variables.$heavy;
}

// Tablet and desktop-----

// Used for page header
@mixin tallest-font {
  font-size: variables.$size * 3.75;
  line-height: variables.$size * 4.25;
  font-weight: variables.$heavy;
}

// Used for section header
@mixin tall-font {
  font-size: variables.$size * 2.25;
  line-height: variables.$size * 2.75;
  font-weight: variables.$heavy;
}

// Used for subheader
@mixin medium-font {
  font-size: variables.$size * 1.5;
  line-height: variables.$size * 2;
  font-weight: variables.$medium;
}

// Used for body and footer
@mixin normal-font {
  font-size: variables.$size * 0.875;
  line-height: variables.$size * 1.375;
  font-weight: variables.$normal;
}

// Used for labels and buttons
@mixin small-font {
  font-size: variables.$size * 0.75;
  line-height: variables.$size * 1.25;
  font-weight: variables.$heavy;
}

// Margins Mobile ------
@mixin mobile-header-margin {
  margin: 1.5rem 0 1rem 0;
}

@mixin mobile-elements-margin {
  margin: 0.5rem 0 1rem 0;
}

// Margins Desktop ------
@mixin wide-header-margin {
  margin: 3rem 2.25rem 2.25rem 0;
}

@mixin wide-elements-margin {
  margin: 1.5rem 3rem 1.5rem 0;
}

//other mixins related to status
@mixin active-font {
  color: colours.$one-light;
  font-family: "AvenirNMedium";
}

@mixin innactive {
  color: colours.$two-medium;
}

@mixin active-border {
  border-bottom: 0.25rem solid colours.$one-light;
}

@mixin innactive {
  color: colours.$two-medium;
}

@mixin mobile-size {
  @media screen and (min-width: 767px) {
    @content;
  }
}

// MEDIA QUERRIES
@mixin tablet-size {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop-size {
  @media screen and (min-width: 1279px) {
    @content;
  }
}

@mixin margin-reset {
  margin: 0;
}

// this mixin creates the side margin for the
// mobile view of the web
@mixin container-mobile {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin container-desktop {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// This mixin center the child container
// in the center
@mixin main-container-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin logo {
  color: colours.$one-light;
  @include mobile-header-margin;
  width: 7.5rem;
  height: 1.25rem;
}
