@font-face {
  font-family: "AvenirN";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "AvenirNMedium";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "AvenirNBold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
.navigation__tabs {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--one {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--one--active {
  border-bottom: 0.25rem solid #ffffff;
}
.navigation__tabs--one--innactive:hover {
  border-bottom: 0.25rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__tabs--one {
    padding: 1rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 2rem;
  }
}
.navigation__tabs--two {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--two--active {
  border-bottom: 0.25rem solid #ffffff;
}
.navigation__tabs--two--innactive:hover {
  border-bottom: 0.25rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__tabs--two {
    color: #e1e1e1;
    font-family: "AvenirN";
    padding: 1rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .navigation__tabs {
    box-sizing: border-box;
    width: 30%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    justify-content: flex-start;
  }
}
.navigation__element {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .navigation__element {
    color: #ffffff;
    margin: 1.5rem 0 1rem 0;
    width: 7.5rem;
    height: 1.25rem;
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navigation__element--active {
  color: #ffffff;
  font-family: "AvenirNMedium";
}
.navigation__element--innactive {
  color: #e1e1e1;
  font-family: "AvenirN";
}
.navigation__header {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .navigation__header {
    padding: 0.5rem 3.5rem;
  }
}
@media screen and (min-width: 1279px) {
  .navigation__header {
    padding: 0.5rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-container__logo {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  width: 7.5rem;
  height: 1.25rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-container__logo {
    position: absolute;
    margin-left: 35vw;
    margin-bottom: 5%;
    margin-top: 3%;
  }
}
@media screen and (min-width: 1279px) {
  .footer-container__logo {
    margin-left: 35.5vw;
  }
}
.footer-container__copyright {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  font-size: 0.75rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer-container {
    position: relative;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1279px) {
  .footer-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
}

.header-social-logos {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header-social-logos {
    flex-direction: row;
    width: 70%;
  }
}

.social-header {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "AvenirNMedium";
}
@media screen and (min-width: 768px) {
  .social-header {
    box-sizing: border-box;
    margin: 1.5rem 3rem 1.5rem 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-right: 2.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1279px) {
  .social-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    width: auto;
  }
}

.social-logos {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.social-logos__item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .social-logos__item {
    box-sizing: border-box;
    height: 35%;
    margin-left: 1rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1279px) {
  .social-logos__item {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .social-logos {
    width: 60%;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-info {
    flex-direction: row;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container__items {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
}
.info-container__items--bold {
  font-family: "AvenirNMedium";
}
.info-container__items--low {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .info-container__items {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 1.5rem 3rem 1.5rem 0;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1279px) {
  .info-container__items {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 5rem;
  }
}

.mailto {
  color: #ffffff;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 45vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero {
    height: 70vh;
  }
}
.hero__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "AvenirNMedium";
  color: #ffffff;
  width: 85vw;
  align-self: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1279px) {
  .hero__header {
    width: 80vw;
  }
}
.hero .hero__background {
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: #3232327e;
}
@media screen and (min-width: 768px) {
  .hero .hero__background {
    height: 45vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero .hero__background {
    height: 70vh;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 1279px) {
  .main__container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  font-family: "AvenirNMedium";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .main__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin: 1.5rem 3rem 1.5rem 0;
    margin-top: 3rem;
  }
}

.about__image {
  width: 100%;
  height: 20vh;
  margin: 0.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .about__image {
    width: 75vw;
    height: 40vh;
  }
}
@media screen and (min-width: 1279px) {
  .about__image {
    width: 70vw;
    height: 50vh;
  }
}
.about__quote {
  font-size: 16px;
  line-height: 28px;
  margin: 0.5rem 0 1rem 0;
  font-family: "AvenirNMedium";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .about__quote {
    width: 75vw;
  }
}
@media screen and (min-width: 1279px) {
  .about__quote {
    width: 50vw;
  }
}
.about__quote--inlineText {
  font-family: "AvenirN";
}
@media screen and (min-width: 768px) {
  .about__quote--inlineText {
    display: inline-block;
    margin: 0.5rem 0 1rem 0;
  }
}
.about__subheader {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #323232;
  font-family: "AvenirNmedium";
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .about__subheader {
    width: 75vw;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1279px) {
  .about__subheader {
    width: 70vw;
  }
}
.about .about-content-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.about .about-content-section__item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  font-family: "AvenirN";
  margin: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  .about .about-content-section__item {
    padding-right: 1.5rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about .about-content-section {
    flex-direction: row;
    width: 75vw;
  }
}
@media screen and (min-width: 1279px) {
  .about .about-content-section {
    width: 70vw;
  }
}
@media screen and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.galery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

.photos {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.photos__header {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  font-family: "AvenirNMedium";
  color: #323232;
}
@media screen and (min-width: 768px) {
  .photos__header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1279px) {
  .photos {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.photos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.75rem;
}
.photos-container__items {
  width: 100%;
  height: 20vh;
  margin: 0.5rem 0 1rem 0;
  filter: grayscale(0.85);
}
.photos-container__items:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .photos-container__items {
    width: 26.5vw;
    height: 15vh;
    margin-bottom: 1.25rem;
  }
  .photos-container__items:hover {
    position: relative;
    left: 0.5rem;
    bottom: 0.5rem;
  }
}
@media screen and (min-width: 1279px) {
  .photos-container__items {
    width: 25.5vw;
    height: 20vh;
  }
}
@media screen and (min-width: 768px) {
  .photos-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.container-convo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.convo-elements {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.elements-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  font-family: "AvenirNMedium";
  color: #323232;
}

.elements-form {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 0.0625rem solid #e1e1e1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding: 0;
}
.elements-form__photo {
  display: flex;
  flex-direction: column;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  margin-right: 1rem;
}
.elements-form__info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.info-input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.info-input__label-name {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  color: #afafaf;
  margin-bottom: 0.25rem;
}
.info-input__name {
  height: 2rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}
.info-input__label-comment {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  color: #afafaf;
  margin-bottom: 0.25rem;
}
.info-input__comment {
  height: 6rem;
  border: 0.0625rem solid #e1e1e1;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
}
.info-input__cta {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNMedium";
  height: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  align-items: center;
  margin: 0.25rem 0 0.25rem 0;
  margin-bottom: 1rem;
}

.info-cta {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNMedium";
  height: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  align-items: center;
  margin: 0.25rem 0 0.25rem 0;
  margin-bottom: 1rem;
}
.info-cta:hover {
  background-color: #000000;
}

.elements-comment {
  display: flex;
  flex-direction: column;
}
.elements-comment__innerContainer {
  display: flex;
  width: 100%;
  border-bottom: 0.0625rem solid #e1e1e1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
}
.elements-comment__innerContainer__photo {
  display: flex;
  flex-direction: column;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 1rem;
}
.elements-comment__innerContainer__info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.info-comment-container {
  display: flex;
  width: 100%;
}
.info-comment-container__person {
  display: flex;
  width: 50%;
  justify-self: flex-start;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirNMedium";
}
.info-comment-container__timeStamp {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  color: #afafaf;
}

.info-comment-description {
  display: flex;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
}/*# sourceMappingURL=bio.css.map */