@use "./partials/mixins";
@use "./partials/variables";
@use "./partials/colours";

html {
}

body {
  @include mixins.margin-reset;
}

a {
  text-decoration: none;
}

h1 {
  @include mixins.margin-reset;
}

p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colours.$one-dark;
  @include mixins.mobile-medium-font;

  &__tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;

    // &__tabs:hover {
    //   @include mixins.active;
    // }
  }

  &__element {
    display: flex;
    width: 50%;
    justify-content: center;

    &--active {
      @include mixins.active;
    }
    &--innactive {
      @include mixins.innactive;
    }
  }
  &__element:hover {
    border-bottom: 0.125rem solid colours.$one-light;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;

  &__header {
    @include mixins.mobile-tall-font;
    width: 94%;
    align-self: center;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
