@use "./partials/mixins";
@use "./partials/variables";
@use "./partials/colours";

body {
  @include mixins.margin-reset;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  @include mixins.margin-reset;
}

p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colours.$one-dark;
  // @include mixins.mobile-medium-font;
  font-family: "AvenirN";

  &__tabs {
    display: flex;
    width: 100%;
    justify-content: space-between;

    // &__tabs:hover {
    //   @include mixins.active;
    // }
  }

  &__element {
    display: flex;
    width: 50%;
    justify-content: center;
    @include mixins.mobile-normal-font;
    padding-bottom: 0.625rem;

    &--active {
      @include mixins.active;
    }
    &--innactive {
      @include mixins.innactive;
    }
    &:hover {
      border-bottom: 0.25rem solid colours.$one-light;
    }
  }

  &__header {
    @include mixins.logo;
  }
}

.hero-container {
  width: 100%;
  height: 25vh;
  background-color: colours.$one-dark-opaque;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25vh;

  @include mixins.tablet-size {
    height: 45vh;
  }

  &__header {
    @include mixins.mobile-tall-font;
    font-family: "AvenirNMedium";
    color: colours.$one-light;
    width: 85vw;
    align-self: center;
    z-index: 1;

    @include mixins.tablet-size {
      @include mixins.tallest-font;
    }
  }
  .hero__background {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: colours.$one-dark-opaque;

    @include mixins.tablet-size {
      height: 45vh;
    }
  }
}

.main {
  @include mixins.main-container-mobile;

  &__container {
    @include mixins.container-mobile;
  }
  &__header {
    @include mixins.mobile-tall-font;
    @include mixins.mobile-header-margin;
    font-family: "AvenirNMedium";
    color: colours.$one-dark;

    @include mixins.tablet-size {
      @include mixins.tall-font;
    }
  }
}

.about {
  &__image {
    width: 100%;
    height: 20vh;
    @include mixins.mobile-elements-margin;

    @include mixins.tablet-size {
      width: 75vw;
      height: 40vh;
    }
  }
  &__quote {
    // Not using the mixin for line height and font size because
    // it doesn't look like the mockup.
    // @include mixins.mobile-medium-font;
    font-size: variables.$size * 1;
    line-height: variables.$size * 1.75;
    // font-weight: variables.$medium;
    @include mixins.mobile-elements-margin;
    font-family: "AvenirNMedium";
    color: colours.$one-dark;

    @include mixins.tablet-size {
      width: 75vw;
    }
  }
  &__subheader {
    @include mixins.mobile-medium-font;
    color: colours.$one-dark;
    font-family: "AvenirNmedium";
    @include mixins.mobile-header-margin;

    @include mixins.tablet-size {
      width: 75vw;
    }
  }
  &__content {
    @include mixins.mobile-normal-font;
    color: colours.$one-dark;
    font-family: "AvenirN";
    @include mixins.mobile-header-margin;

    @include mixins.tablet-size {
      width: 75vw;
    }
  }

  @include mixins.tablet-size {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}

.galery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colours.$two-light;
}
.photos {
  @include mixins.container-mobile;

  &__header {
    width: 100%;
    @include mixins.mobile-tall-font;
    @include mixins.mobile-header-margin;
    font-family: "AvenirNBold";
    color: colours.$one-dark;
  }
}

.photos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    width: 100%;
    height: 20vh;
    @include mixins.mobile-elements-margin;
  }
}

// FOOTER SECTION

.footer {
  background-color: colours.$one-dark;
  color: colours.$one-light;
  @include mixins.main-container-mobile;
}

.footer-container {
  @include mixins.container-mobile;

  &__logo {
    @include mixins.logo;

    @include mixins.tablet-size {
      position: absolute;
      margin-left: 35vw;
      margin-bottom: 5%;
      margin-top: 3%;
    }
  }

  &__copyright {
    @include mixins.mobile-elements-margin;
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";
    font-size: 0.75rem;
  }
  @include mixins.tablet-size {
    position: relative;
  }
}

.header-social-logos {
  display: flex;
  flex-direction: column;

  @include mixins.tablet-size {
    flex-direction: row;
    width: 70%;
  }
}
.social-header {
  color: colours.$one-light;
  @include mixins.mobile-header-margin;
  @include mixins.mobile-tall-font;
  font-family: "AvenirNMedium";

  @include mixins.tablet-size {
    box-sizing: border-box;
    @include mixins.wide-elements-margin;
    @include mixins.medium-font;
    margin-right: 2.5rem;
  }
}
.social-logos {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;

  &__item {
    @include mixins.mobile-normal-font;
    // @include mixins.mobile-elements-margin;
    margin-right: 2rem;

    @include mixins.tablet-size {
      box-sizing: border-box;
      height: 35%;
      margin-left: 12%;
      // padding-right: 12%;
    }
  }

  @include mixins.tablet-size {
    width: 60%;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;

  @include mixins.tablet-size {
    flex-direction: row;
  }
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    @include mixins.mobile-elements-margin;
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";

    &--bold {
      font-family: "AvenirNMedium";
    }

    @include mixins.tablet-size {
      @include mixins.normal-font;
      @include mixins.wide-elements-margin;
      line-height: 1.25rem;
    }
  }
}
