@use "./partials/mixins";
@use "./partials/variables";
@use "./partials/colours";
@use "./partials/global";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/hero-shows.jpg");
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;

  @include mixins.tablet-size {
    height: 50vh;
  }
  @include mixins.desktop-size {
    height: 70vh;
  }

  &__subheader {
    @include mixins.mobile-medium-font;
    font-family: "AvenirNMedium";
    color: colours.$one-light;
    width: 85vw;
    align-self: center;
    z-index: 1;

    @include mixins.tablet-size {
      @include mixins.medium-font;
    }
    @include mixins.desktop-size {
      width: 80vw;
    }
  }
  .hero__background {
    position: absolute;
    width: 100%;
    height: 35vh;
    background-color: colours.$one-dark-opaque;

    @include mixins.tablet-size {
      height: 50vh;
    }
    @include mixins.desktop-size {
      height: 70vh;
    }
  }
}

.hero-background-division {
  display: flex;
  flex-direction: column;
  width: 85vw;
  z-index: 1;
  align-self: center;

  &__header {
    @include mixins.mobile-tall-font;
    font-family: "AvenirNMedium";
    color: colours.$one-light;
    box-sizing: border-box;

    @include mixins.tablet-size {
      @include mixins.tallest-font;
    }

    @include mixins.desktop-size {
      width: 80%;
      margin-right: 2rem;
    }
  }

  @include mixins.desktop-size {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
  }

  &__iframe {
    width: 100%;
    height: 10rem;
    margin: 1rem 0;
    box-sizing: border-box;

    @include mixins.desktop-size {
      width: 80%;
    }
  }
}

// ******* Shows Section
.shows {
  @include mixins.main-container-mobile;

  &__main {
    @include mixins.container-mobile;

    @include mixins.desktop-size {
      width: 80vw;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__header {
    @include mixins.mobile-tall-font;
    @include mixins.mobile-header-margin;
    font-family: "AvenirNMedium";
    color: colours.$one-dark;

    @include mixins.desktop-size {
      margin-right: 1rem;
      @include mixins.tall-font;
      margin-top: 1rem;
    }
  }
}

.container-shows {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include mixins.desktop-size {
    width: 60vw;
  }
}

.modular-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  @include mixins.divider;
  padding: 1.5rem 0;

  @include mixins.tablet-size {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1rem;
    padding-left: 1rem;

    &:hover {
      background-color: colours.$two-light;
    }
    &:active {
      background-color: colours.$two-medium;
    }
  }
}
.modular-subcontainer1 {
  display: flex;
  flex-direction: column;

  &__dateTag {
    @include mixins.mobile-small-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;

    @include mixins.tablet-size {
      display: none;
    }
  }
  &__dateInfo {
    @include mixins.mobile-normal-font;
    font-family: "AvenirNMedium";
    @include mixins.mobile-elements-margin-shows;
  }
}

.modular-subcontainer2 {
  display: flex;
  flex-direction: column;

  &__venueTag {
    @include mixins.mobile-small-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;

    @include mixins.tablet-size {
      display: none;
    }
  }
  &__venue {
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;
  }
}

.modular-subcontainer3 {
  display: flex;
  flex-direction: column;

  &__locationTag {
    @include mixins.mobile-small-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;

    @include mixins.tablet-size {
      display: none;
    }
  }
  &__location {
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;
  }
}

.modular-subcontainer4 {
  display: flex;
  flex-direction: column;

  &__ctaTag {
    @include mixins.mobile-normal-font;
    font-family: "AvenirN";
    @include mixins.mobile-elements-margin-shows;

    @include mixins.tablet-size {
      display: none;
    }
  }
  &__cta {
    @include mixins.button;

    @include mixins.tablet-size {
      width: 10.5rem;
    }

    &:hover {
      background-color: colours.$two-dark;
    }
  }
}
