@font-face {
  font-family: "AvenirN";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: "AvenirNMedium";
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "AvenirNBold";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
.navigation__tabs {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--one {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--one--active {
  border-bottom: 0.25rem solid #ffffff;
}
.navigation__tabs--one--innactive:hover {
  border-bottom: 0.25rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__tabs--one {
    padding: 1rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 2rem;
  }
}
.navigation__tabs--two {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navigation__tabs--two--active {
  border-bottom: 0.25rem solid #ffffff;
}
.navigation__tabs--two--innactive:hover {
  border-bottom: 0.25rem solid #ffffff;
}
@media screen and (min-width: 768px) {
  .navigation__tabs--two {
    color: #e1e1e1;
    font-family: "AvenirN";
    padding: 1rem 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .navigation__tabs {
    box-sizing: border-box;
    width: 30%;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    justify-content: flex-start;
  }
}
.navigation__element {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding-bottom: 0.625rem;
}
@media screen and (min-width: 768px) {
  .navigation__element {
    color: #ffffff;
    margin: 1.5rem 0 1rem 0;
    width: 7.5rem;
    height: 1.25rem;
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navigation__element--active {
  color: #ffffff;
  font-family: "AvenirNMedium";
}
.navigation__element--innactive {
  color: #e1e1e1;
  font-family: "AvenirN";
}
.navigation__header {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  width: 7.5rem;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .navigation__header {
    padding: 0.5rem 3.5rem;
  }
}
@media screen and (min-width: 1279px) {
  .navigation__header {
    padding: 0.5rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-container__logo {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  width: 7.5rem;
  height: 1.25rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer-container__logo {
    position: absolute;
    margin-left: 35vw;
    margin-bottom: 5%;
    margin-top: 3%;
  }
}
@media screen and (min-width: 1279px) {
  .footer-container__logo {
    margin-left: 35.5vw;
  }
}
.footer-container__copyright {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  font-size: 0.75rem;
  margin: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer-container {
    position: relative;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1279px) {
  .footer-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
}

.header-social-logos {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header-social-logos {
    flex-direction: row;
    width: 70%;
  }
}

.social-header {
  color: #ffffff;
  margin: 1.5rem 0 1rem 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "AvenirNMedium";
}
@media screen and (min-width: 768px) {
  .social-header {
    box-sizing: border-box;
    margin: 1.5rem 3rem 1.5rem 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-right: 2.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1279px) {
  .social-header {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    width: auto;
  }
}

.social-logos {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}
.social-logos__item {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .social-logos__item {
    box-sizing: border-box;
    height: 35%;
    margin-left: 1rem;
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1279px) {
  .social-logos__item {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .social-logos {
    width: 60%;
    align-items: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .contact-info {
    flex-direction: row;
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-container__items {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
}
.info-container__items--bold {
  font-family: "AvenirNMedium";
}
.info-container__items--low {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .info-container__items {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin: 1.5rem 3rem 1.5rem 0;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1279px) {
  .info-container__items {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 5rem;
  }
}

.mailto {
  color: #ffffff;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../assets/images/hero-shows.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35vh;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero {
    height: 70vh;
  }
}
.hero__subheader {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  font-family: "AvenirNMedium";
  color: #ffffff;
  width: 85vw;
  align-self: center;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__subheader {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1279px) {
  .hero__subheader {
    width: 80vw;
  }
}
.hero .hero__background {
  position: absolute;
  width: 100%;
  height: 35vh;
  background-color: #3232327e;
}
@media screen and (min-width: 768px) {
  .hero .hero__background {
    height: 50vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero .hero__background {
    height: 70vh;
  }
}

.hero-background-division {
  display: flex;
  flex-direction: column;
  width: 85vw;
  z-index: 1;
  align-self: center;
}
.hero-background-division__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "AvenirNMedium";
  color: #ffffff;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .hero-background-division__header {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1279px) {
  .hero-background-division__header {
    width: 80%;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1279px) {
  .hero-background-division {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero-background-division__iframe {
  width: 100%;
  height: 10rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
@media screen and (min-width: 1279px) {
  .hero-background-division__iframe {
    width: 80%;
  }
}

.shows {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shows__main {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 1279px) {
  .shows__main {
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
  }
}
.shows__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  font-family: "AvenirNMedium";
  color: #323232;
}
@media screen and (min-width: 1279px) {
  .shows__header {
    margin-right: 1rem;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-top: 1rem;
  }
}

.container-shows {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1279px) {
  .container-shows {
    width: 60vw;
  }
}

.modular-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.0625rem solid #e1e1e1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding: 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .modular-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .modular-container:hover {
    background-color: #fafafa;
  }
  .modular-container:active {
    background-color: #e1e1e1;
  }
}

.modular-subcontainer1 {
  display: flex;
  flex-direction: column;
}
.modular-subcontainer1__dateTag {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .modular-subcontainer1__dateTag {
    display: none;
  }
}
.modular-subcontainer1__dateInfo {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirNMedium";
  margin: 0.25rem 0 0.25rem 0;
}

.modular-subcontainer2 {
  display: flex;
  flex-direction: column;
}
.modular-subcontainer2__venueTag {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .modular-subcontainer2__venueTag {
    display: none;
  }
}
.modular-subcontainer2__venue {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}

.modular-subcontainer3 {
  display: flex;
  flex-direction: column;
}
.modular-subcontainer3__locationTag {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .modular-subcontainer3__locationTag {
    display: none;
  }
}
.modular-subcontainer3__location {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}

.modular-subcontainer4 {
  display: flex;
  flex-direction: column;
}
.modular-subcontainer4__ctaTag {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-family: "AvenirN";
  margin: 0.25rem 0 0.25rem 0;
}
@media screen and (min-width: 768px) {
  .modular-subcontainer4__ctaTag {
    display: none;
  }
}
.modular-subcontainer4__cta {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background-color: #323232;
  color: #ffffff;
  font-family: "AvenirNMedium";
  height: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.25rem;
  align-items: center;
  margin: 0.25rem 0 0.25rem 0;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .modular-subcontainer4__cta {
    width: 10.5rem;
  }
}
.modular-subcontainer4__cta:hover {
  background-color: #000000;
}

@media screen and (min-width: 768px) {
  .modular-container:first-of-type > .modular-subcontainer1 > .modular-subcontainer1__dateTag {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .modular-container:first-of-type > .modular-subcontainer2 > .modular-subcontainer2__venueTag {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .modular-container:first-of-type > .modular-subcontainer3 > .modular-subcontainer3__locationTag {
    display: flex;
  }
}/*# sourceMappingURL=shows.css.map */